* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.container {
  width: 1003px;
  margin: 0 auto;
}
.active {
  color: #d04424;
}
a:hover {
  color: #d04424;
}
header {
  height: 100px;
  line-height: 100px;
}
header img {
  vertical-align: middle;
}
header a {
  float: right;
  color: #999;
  font-size: 16px;
}
.navbar {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #111;
}
.navbar ul {
  float: right;
  overflow: hidden;
}
.navbar ul li {
  float: left;
  margin-left: 90px;
}
.footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin: 150px 0 35px;
}
.footer p {
  margin-bottom: 8px;
}
.footer li {
  color: #999;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #d04424;
}
