* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.container {
  width: 1003px;
  margin: 0 auto;
}
.active {
  color: #d04424;
}
a:hover {
  color: #d04424;
}
header {
  height: 100px;
  line-height: 100px;
}
header img {
  vertical-align: middle;
}
header a {
  float: right;
  color: #999;
  font-size: 16px;
}
.navbar {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #111;
}
.navbar ul {
  float: right;
  overflow: hidden;
}
.navbar ul li {
  float: left;
  margin-left: 90px;
}
.footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin: 150px 0 35px;
}
.footer p {
  margin-bottom: 8px;
}
.footer li {
  color: #999;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #d04424;
}
#detail {
  margin-top: 30px;
  overflow: hidden;
}
#detail .gallery {
  float: left;
  overflow: hidden;
}
#detail .main-pic {
  position: relative;
}
#detail .main-pic img {
  width: 400px;
}
#detail .main-pic #uploadMinImg {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
}
#detail .site-pic {
  width: 400px;
  margin-top: 25px;
}
#detail .site-pic li {
  position: relative;
  float: left;
  margin-right: 13px;
  margin-bottom: 20px;
}
#detail .site-pic li:nth-child(4n) {
  margin-right: 0;
}
#detail .site-pic img {
  width: 90px;
}
#detail .site-pic .dele {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #c64426;
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}
#detail .info {
  width: 550px;
  float: right;
}
#detail .info .form-group {
  overflow: hidden;
  margin-bottom: 18px;
}
#detail .info .title {
  position: relative;
  margin-top: 40px;
  font-size: 26px;
  color: #333;
  line-height: 45px;
}
#detail .info .sort {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  color: #f29d17;
  font-weight: 400;
}
#detail .info #goodsName {
  font-size: 26px;
  width: 435px;
  height: 40px;
}
#detail .info label {
  font-size: 22px;
  color: #333;
}
#detail .info select {
  width: 120px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
}
#detail .info .sel {
  float: right;
}
#detail .info .input {
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
#detail .info textarea {
  font-size: 20px;
  padding: 10px;
}
#detail .info #unitPrice,
#detail .info #unitSize,
#detail .info #unitWeight {
  width: 72px;
  height: 40px;
  padding-left: 8px;
  color: #fff;
  background-color: #c64426;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}
#detail .info-detail {
  margin-top: 40px;
}
#detail .info-detail li {
  font-size: 22px;
  color: #333;
  margin-bottom: 25px;
}
#detail .info-detail .price {
  color: #c64426;
}
#detail .info-detail span {
  border: 1px solid #666;
}
#detail .oprate {
  float: right;
  margin-top: 60px;
}
#detail .del,
#detail .edit {
  float: left;
  width: 120px;
  height: 50px;
  background-color: #c64426;
  border-radius: 2px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#detail .edit {
  background-color: #f29d17;
  margin-left: 40px;
}
